.file-editor {
  .nav-links {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 0;
    border-radius: $border-radius-small $border-radius-small 0 0;
    background: $gray-normal;
  }

  #editor {
    border: 0;
    border-radius: 0;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .ace_gutter-cell {
    background-color: $gray-light;
  }

  .cancel-btn {
    color: $red-600;

    &:hover {
      color: $red-600;
    }
  }

  .file-title {
    @extend .monospace;
    line-height: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
  }

  .editor-ref {
    background: $gray-light;
    padding-right: $gl-padding;
    border-right: 1px solid $border-color;
    display: block;
    float: left;
    margin-right: 10px;
  }

  .new-file-name {
    display: inline-block;
    max-width: 420px;
    float: left;

    @media(max-width: map-get($grid-breakpoints, lg)-1) {
      width: 180px;
    }
  }

  .file-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .select2 {
    float: right;
  }

  .encoding-selector,
  .soft-wrap-toggle {
    display: inline-block;
    vertical-align: top;
    font-family: $regular-font;
  }

  .soft-wrap-toggle {
    margin: 0 $btn-side-margin;

    .soft-wrap {
      display: block;
    }

    .no-wrap {
      display: none;
    }

    &.soft-wrap-active {
      .soft-wrap {
        display: none;
      }

      .no-wrap {
        display: block;
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .file-editor {
    .file-title {
      display: block;
    }

    .new-file-name {
      max-width: none;
      width: 100%;
      margin-bottom: 3px;
    }

    .file-buttons {
      display: block;
      width: 100%;
      margin-bottom: 10px;

      .soft-wrap-toggle {
        width: 100%;
        margin: 3px 0;
      }

      .encoding-selector {
        display: block;
        margin: 3px 0;

        button {
          width: 100%;
        }
      }

      @media(max-width: map-get($grid-breakpoints, md)-1) {
        clear: both;
      }
    }

    .editor-ref {
      max-width: 250px;
    }
  }
}

.blob-new-page-title,
.blob-edit-page-title {
  margin: 19px 0 21px;
  vertical-align: top;
  display: inline-block;

  @media(max-width: map-get($grid-breakpoints, md)-1) {
    display: block;
    margin: 19px 0 12px;
  }
}

.template-selectors-menu {
  display: inline-block;
  vertical-align: top;
  margin: 14px 0 0 16px;
  padding: 0 0 0 14px;
  border-left: 1px solid $border-color;

  @media(max-width: map-get($grid-breakpoints, md)-1) {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 0;
    border-left: 0;
  }
}

.templates-selectors-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  line-height: 21px;

  @media(max-width: map-get($grid-breakpoints, md)-1) {
    display: block;
    margin: 5px 0;
  }
}

.template-selector-dropdowns-wrap {
  display: inline-block;
  margin: 5px 0 0 8px;
  vertical-align: top;

  @media(max-width: map-get($grid-breakpoints, md)-1) {
    display: block;
    width: 100%;
    margin: 0 0 16px;
  }

  .license-selector,
  .gitignore-selector,
  .gitlab-ci-yml-selector,
  .dockerfile-selector,
  .template-type-selector {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;

    @media(max-width: map-get($grid-breakpoints, md)-1) {
      display: block;
      width: 100%;
      margin: 5px 0;
    }

    .dropdown {
      line-height: 21px;
    }

    .dropdown-menu-toggle {
      width: 250px;
      vertical-align: top;

      @media(max-width: map-get($grid-breakpoints, md)-1) {
        display: block;
        width: 100%;
        margin: 5px 0;
      }
    }

  }
}

.template-selectors-undo-menu {
  display: inline-block;
  margin: 7px 0 0 10px;

  @media(max-width: map-get($grid-breakpoints, md)-1) {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  button {
    margin: -4px 0 0 15px;
  }
}
